.Login {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 100px 0;
}

.Login h1 {
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: #181818;
}

.Login form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login form input {
  background-color: transparent;
  border: 1px solid #181818;
  width: 60vw;
  max-width: 1000px;
  min-width: 400px;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 1.2rem;
  color: #181818;
}

.Login form input {
  transition: box-shadow 200ms;
}
.Login form input:focus {
  box-shadow: 0 0 3px 3px rgb(58, 58, 58) ;
}

.Login form label {
  color: #181818;
  font-size: 1.2rem;
}
